@media screen and (max-width: 11px) {
    /* Φτιάχνω τα πράγματα για μικρές οθόνες, π.χ. 11px πλάτος */
    .add_img_section div div div {
        width: 250px; /* Πλάτος του εσωτερικού div */
        height: 200px; /* Ύψος του εσωτερικού div */
    }
    .grid_2_columns {
        width: 505px; /* Συνολικό πλάτος του grid */
        display: grid; /* Ενεργοποίηση εμφάνισης grid */
        grid-template-columns: 250px 250px; /* Δύο στήλες με πλάτος 250px η καθεμία */
        gap: 5px; /*Κενό μεταξύ στοιχείων.. */
    }
    p {
        font-size: 12px; /* Μέγεθος γραμματοσειράς για παραγράφους */
    }
}

@media screen and (max-width: 800px) {
    /* Στυλ για οθόνες με μέγιστο πλάτος 800px */
    h1 {
        font-size: 20px; /* Μέγεθος γραμματοσειράς για επικεφαλίδες h1 */
    }
    h1 {
        font-size: 16px; /* Μέγεθος γραμματοσειράς για επικεφαλίδες h1 (διπλό κανόνας, πιθανόν σφάλμα) */
    }
    header div h1 {
        font-size: 25px; /* Μέγεθος γραμματοσειράς για επικεφαλίδες h1 μέσα στο header */
        margin-top: 25px; /* Απόσταση από την κορυφή */
    }
}
